* {
    margin: 0;
    padding: 0;
}

body {
    width: 1215px;
}
.primary_nav_wrap {
	margin-top:0;
    height: 38px;
    background-image: url('../images/menu-bgd.png');
    background-repeat: repeat-x;
}

/*url('../images/background.png');*/
.primary_nav_wrap ul {
	list-style:none;
	position:relative;
	float:right;
	margin:0;
	padding:0;
    display:block;
	text-decoration:none;
	font-weight:700;
	font-size:14px;
	line-height:38px;
	padding:0 15px;
	font-family:"Tahoma",sans-serif
}

.primary_nav_wrap ul a {
	display:block;
	text-decoration:none;
	font-weight:700;
	font-size:14px;
	line-height:38px;
	padding:0 15px;
	font-family:"Tahoma",sans-serif;
}

.left-menu li a {
	display:block;
	color:#60b5ed;
    text-decoration:none;
	font-weight:700;
	font-size:14px;
	line-height:38px;
	padding:0 15px;
	font-family:"Tahoma",sans-serif;
}

.left menu li {
    color: #1f6ca9;
}

.left-menu li a:hover {
	background:#4eabda;
    color: white;
}

.right-menu li a {
    
    display:block;
	color: white;
	text-decoration:none;
	font-weight:700;
	font-size:14px;
	line-height:38px;
	padding:0 15px;
	font-family:"Tahoma",sans-serif;
}

.primary_nav_wrap ul li {
	position:relative;
	float:left;
	margin:0;
	padding:0;
    color: white;
}



/*
.right menu li {
    color: #1f6ca9;
}
*/



.right-menu li a:hover {
	background:background: rgba(241,111,92,1);
background: -moz-linear-gradient(top, rgba(241,111,92,1) 0%, rgba(81,176,220,1) 0%, rgba(46,122,196,1) 100%);
background: -webkit-gradient(left top, left bottom, color-stop(0%, rgba(241,111,92,1)), color-stop(0%, rgba(81,176,220,1)), color-stop(100%, rgba(46,122,196,1)));
background: -webkit-linear-gradient(top, rgba(241,111,92,1) 0%, rgba(81,176,220,1) 0%, rgba(46,122,196,1) 100%);
background: -o-linear-gradient(top, rgba(241,111,92,1) 0%, rgba(81,176,220,1) 0%, rgba(46,122,196,1) 100%);
background: -ms-linear-gradient(top, rgba(241,111,92,1) 0%, rgba(81,176,220,1) 0%, rgba(46,122,196,1) 100%);
background: linear-gradient(to bottom, rgba(241,111,92,1) 0%, rgba(81,176,220,1) 0%, rgba(46,122,196,1) 100%);
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#f16f5c', endColorstr='#2e7ac4', GradientType=0 );
    color: white;
}




/*
.primary_nav_wrap ul ul
{
	display:none;
	position:absolute;
	top:100%;
	left:0;
	background:#fff;
	padding:0
}
*/



/*
.primary_nav_wrap ul ul a
{
	line-height:120%;
	padding:10px 15px
}
*/



.primary_nav_wrap ul li:hover > ul
{
	display:block
}

.flag {
    padding-top: 4px;
}

/*url('../images/background.png');*/
/*main*/

.main {
    background-image: url('../images/Background-copy.png');
    background-color: azure;
    height: 1028px;
    z-index: -1;
    padding-top: 212px;
    font-family: Tahoma;
}

.loginbox {
    background-image: url('../css/images/Layer-2-copy.png');
    margin: 0 auto;
    height: 613px;
    width: 560px;
    text-align: center;
    padding-top: 17px;
}

h2 {
    color: white;
    font-size: 24px;
    margin: 0 auto;
    display:inline-block;
}

.terms {
    text-align: center;
    color: white;
    font-size: 11px;
}

.crbutton {
    background-color: background: rgba(46,122,196,1);
background: -moz-linear-gradient(top, rgba(46,122,196,1) 0%, rgba(81,176,220,1) 0%, rgba(46,122,196,1) 100%);
background: -webkit-gradient(left top, left bottom, color-stop(0%, rgba(46,122,196,1)), color-stop(0%, rgba(81,176,220,1)), color-stop(100%, rgba(46,122,196,1)));
background: -webkit-linear-gradient(top, rgba(46,122,196,1) 0%, rgba(81,176,220,1) 0%, rgba(46,122,196,1) 100%);
background: -o-linear-gradient(top, rgba(46,122,196,1) 0%, rgba(81,176,220,1) 0%, rgba(46,122,196,1) 100%);
background: -ms-linear-gradient(top, rgba(46,122,196,1) 0%, rgba(81,176,220,1) 0%, rgba(46,122,196,1) 100%);
background: linear-gradient(to bottom, rgba(46,122,196,1) 0%, rgba(81,176,220,1) 0%, rgba(46,122,196,1) 100%);
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#2e7ac4', endColorstr='#2e7ac4', GradientType=0 );
    border: none;
    color: white;
    text-align: center;
    text-decoration: none;
    border-radius: 4px;
    display: inline-block;
    cursor: pointer;
    font-size: 16px;
    width: 149px;
    height: 35px;
    border: 2px solid #67c6e6;
}

.ou-line {
    color: #999999;
}

.fb .button {
    background-image: url(images/Layer-3-copy.png);
    border: none;
    color: white;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    cursor: pointer;
    height: 35px;
    width: 276px;
    
}
